body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Prompt', sans-serif;
}

.hamburger {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.dropbtn {
    top: 0;
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 2em;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: .7em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5EF43F;
    color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333;
}

h1 {
    font-size: 52px;
    text-align: center;
    color: #5EF43F;
}

.container {
    display: flex;
    /* อีลีเมนต์ต่างๆในกล่องนี้จะมีทิศทางเดียว คือจากบนลงล่าง */
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  
.header,.sideL,.sideR,.footer {
    margin: 0;
}
  
.content {
    display: flex;/*ในขณะที่ sideL และ sideR ที่อยู่ในกล่องใบที่สองนี้จะมีทิศทางจากซ้ายไปขวา*/
    flex-direction: row;
}
  
.header {
    grid-column: 1;
}
.header img{
    width: 80%;
    border: solid 2px #5EF43F;
    border-radius: 25px;
    text-align: center;
    margin-top: 0;
}
  
.sideR {
    flex: 2;
    text-align: center;
}
  
.sideL {
    flex: 2;
    text-align: center;
}
.sideL img, .sideR img{
    width: 50%;
    display: flex;
    border: solid 2px #5EF43F;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
}
  
.footer {
    text-align: center;
    margin-top: 0.5em;
}
.footer p{
    font-size: 16px;
    color: aliceblue;
    margin-top: 0;
    text-align: left;
    text-indent: 10%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

h6{
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}
hr {
    border: solid 1px #5EF43F;
    width: 80%;
    margin-top: 0;
}

@media (max-width: 450px){
    h1{
        font-size: 32px;
        margin-top: 10%;
    }
    h6{
        font-size: 14px;
        margin-left: 10%;
        margin-right: 10%;
        box-sizing: border-box;
    }
    .footer p{
        font-size: 12px;
    }
    .header img{
        width: 300px;
        height: 210px;
    }
    .sideL img, .sideR img{
        width: 140px;
        height: 90px;
    }
}