body {
    margin: 0;
    padding: 0;
    background-color: #404a3c;
    font-family: 'Prompt', sans-serif;
}

.hamburger {
    font-size: 1.2em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.dropbtn {
    top: 0;
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 2em;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: .7em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #a3af9e;
    color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333;
}
h1 {
    font-size: 52px;
    text-align: center;
    color: #00d9ff;
}
h6{
    font-size: 18px;
    color: aliceblue;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5px;
}
p{
    font-size: 16px;
    color: aliceblue;
    margin-left: 5%;
    text-indent: 5%;
    margin-right: 5%;
    box-sizing: border-box;
}
a {
    font-size: 16px;
    color: aliceblue;
    margin-left: 5%;
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
hr {
    border: solid 1px #a3af9e;
    width: 80%;
    margin-top: 0;
}

.block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.2em;
}
.logo{
    width: 20%;
    display: flex;
    flex: 1;
    justify-content: center;
}
.con{
    width: 70%;
    display: flex;
    flex: 1;
    justify-content: start;
}

img {
    width: 50px;
    margin-right: 10px; /* เพิ่มระยะห่างระหว่างภาพและข้อความ */
}

/* จัดการขนาดของภาพแต่ละตัว */
img#f {
    width: 70px;
    margin-left: 4%;
}

img#l {
    width: 80px;
    margin-left: 3.7%;
}

img#ig {
    width: 60px;
    margin-left: 4.7%;
}

/* จัดการ responsive */
@media (max-width: 450px) {
    h1 {
        font-size: 32px;
        margin-top: 10%;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }
}