body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: Prompt;
}

.hamburger {
    font-size: 1.2em; /* ขนาดของไอคอน */
    vertical-align: middle; /* จัดกึ่งกลางตามแนวตั้ง */
    display: inline-block; /* แสดงเป็นบล็อกในบรรทัดเดียวกับข้อความ */
    margin-left: 5px; /* ระยะห่างด้านซ้าย */
}
/*ลักษณะปุ่ม*/
.dropbtn {
    top: 0;
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 2em;
    border: none;
    cursor: pointer;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed; /* ปรับตำแหน่งเป็น fixed */
    top: 0; /* ยึดติดที่ด้านบน */
    left: 0; /* ยึดติดที่ด้านซ้าย */
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) ลักษณะตอนดรอปดาวน์ */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* ทำให้เมนูอยู่ด้านบนสุด */
}
  
/* Links inside the dropdown ลักษณะตัวอักษร */
.dropdown-content a {
    color: black;
    font-size: .7em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* เปลียนสีตอน hover */
.dropdown-content a:hover {background-color: #5EF43F; color: #111;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #333;
}

h1{
    font-size: 52px;
    text-align: center;
    color: #5EF43F;
}
.container {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
  
.img, .main, .skills, .hobby {
    margin: 1%;
}
.content {
    display: flex;
    flex-direction: row;
}
  
.main {
    flex: 2;
}
h5{
    color: aliceblue;
    font-size: 22px;
}
h6{
    color: aliceblue;
    font-size: 20px;
}
h6#S,#H{
    color: aliceblue;
    font-size: 20px;
    text-decoration: underline 1px #5EF43F;
}
p{
    color: aliceblue;
    font-size: 16px;
    text-align: left;
}
p#I{
    color: aliceblue;
    font-size: 12px;
    text-align: left;
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(8px); /* ปรับค่า translateY ตามทิศทางต้องการ */
  }
}
  
.img {
    background: #e9573f;
    flex: 1.5;
    height: 250px;
    border: solid 2px #5EF43F;
    border-radius: 10px;
}
  
.skills {
    flex: 1.7;
    margin-bottom: 0;
}
.hobby{
    flex: 1;
    margin-bottom: 0;
}
hr {
    border: solid 1px #5EF43F;
    width: 80%;
}

@media (max-width: 450px){
    h1 {
        font-size: 32px;
        margin-top: 10%;
    }
    .main h5{
        font-size: 17px;
        margin: 0 auto;
    }
    .main h6{
        font-size: 16px;
        margin: 0 auto;
    }
    .skills h6#S{
        font-size: 16px;
        margin: 0 auto;
    }
    .hobby h6#H{
        font-size: 16px;
        margin: 0 auto;
    }
    .content p{
        font-size: 12px;
    }
}